@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-item {
  &__component {
    background-color: $primary-light-color;
    box-shadow: 0 0.125rem 0.313rem rgba($primary-dark-color, 10%);
    border-top: 0.063rem solid $secondary-light-color;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    padding: 0 1.5rem 1.5rem;
  }

  &__left-side {
    flex: 1;

    @include tablet {
      display: flex;
    }
  }

  &__right-side {
    flex: 1;

    @include tablet {
      display: flex;
    }
  }

  &__stat-quant-box {
    display: flex;
    align-items: baseline;
  }

  &__text-box {
    flex: 1;
  }

  &__table-header {
    @include m-table-header($primary-dark-color);

    @include tablet {
      @include t-table-header($secondary-dark-color);

      &--t-hidden {
        display: none;
      }
    }
  }

  &__link-box {
    display: flex;
    align-items: center;
  }

  &__link-text {
    @include m-link($primary-key-color);

    @include tablet {
      @include t-link($primary-key-color);
      margin: 0;
    }
  }

  &__link-icon {
    height: 1rem;
  }

  &__body-medium {
    @include m-body-medium($primary-dark-color);

    @include tablet {
      @include t-body-medium($primary-dark-color);
      margin: 0;
    }
  }

  &__icons-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: auto;
    }
  }
}
