// Primary colors
$primary-dark-color: #13182c;
$primary-key-color: #2e66e5;
$primary-light-color: #ffffff;

// Secondary colors
$secondary-dark-color: #5c667e;
$secondary-light-color: #bdc5d5;

// Background colors
$background-dark-color: #232940;
$background-light-color: #f7f8f9;

// Supporting colors
$accent-positive-color: #158463;
$accent-negative-color: #c94515;

// Mobile margins
$m-margin-page-lateral: 1rem;

// Tablet margins
$t-margin-page-lateral: 2rem;

// Desktop body
$d-content-width: 63.75rem;
