<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="stylesheet" href="inventory.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>

    <div class="inventory__search-container">
        <h2>Inventory</h2>
        <div class="inventory__search-inner-container">
            <input class="inventory__search-bar" type="text" placeholder="Search...">
            <button class="inventory__search-button" >Add New Item</button>
        </div>
    </div>
    
</body>
</html>
