/** @format */
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.page {
  //border: 0.01rem solid black;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

