body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: 0.15rem solid black;
}

.inventory__search-container {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 0.1rem solid black;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .inventory__search-container {
    flex-direction: row;
  }
}

.inventory__search-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

@media (min-width: 768px) {
  .inventory__search-inner-container {
    flex-direction: row;
    align-items: center;

  }
}

.inventory__search-bar {
  width: 97.5%;
  border-radius: 20px;
  height: 1.5rem;
}

.inventory__search-button {
  width: 100%;
  border-radius: 20px;
  margin-top: 1rem;
  height: 2rem;
  background-color: #2e66e6;
  color: white;
}


@media (min-width: 768px) {
    .inventory__search-button {
        margin-top: 0;
        width: 20%;
    }
}
