@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/variables" as *;

.add-warehouse {
  &__header {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  &__main-content {
    padding: 1.5rem;

    @include tablet {
      display: flex;
    }
  }
  // &__form-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   @include tablet {
  //     display: flex;
  //   }
  // }

  &__left-side {
    margin-bottom: 1.5rem;
    border-bottom: solid 1px #bdc5d5;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex: 1;
      padding-right: 2rem;
      margin-top: 0;
      border-bottom: none;
      border-top: none;
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex: 1;
      padding-left: $t-margin-page-lateral;
      border-left: 0.063rem solid $secondary-light-color;
      margin-top: 1rem;
    }
  }
}

.warehouse-form {
  display: flex;
  flex-direction: column;
  @include tablet {
  }
  @include desktop {
    margin-left: 3rem;
  }
  &__label {
    font-size: 0.813rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  &__input {
    font-size: 0.813rem;
    text-indent: 0.6rem;
    border: 1px solid #bdc5d5;
    border-radius: 1.25rem;

    line-height: 1.5rem;
    margin-top: 0.2rem;
    @include desktop {
      line-height: 2rem;
    }
  }
}
.button-wrapper {
  display: flex;
  margin-top: 2rem;
  @include tablet {
    margin-left: 8.5rem;
  }
  @include desktop {
    margin-left: 18.5rem;
  }
}
