/** @format */
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/variables" as *;

.delete-modal {
  &__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;

    @media (min-width: 768px) {
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__container {
    opacity: 100%;
    width: 100vw;
    height: 100vh;
    border: 0.01rem solid black;
    position: fixed;
    padding: 1rem;
    z-index: 3;
    top: 0;
    background-color: white;

    @include tablet {
      width: 60rem;
      height: 20rem;
      left: 0;
      right: 0;
      margin-top: 10rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__X {
    width: 2rem;
    cursor: pointer;
    position: absolute;
    right: 3rem;
  }

  &__header {
    font-size: 1.5rem;
    position: absolute;
    top: 5rem;

    @include tablet {
      margin-left: 2rem;
      font-size: 2.5rem;
    }
  }

  &__confrim-text {
    position: absolute;
    top: 12rem;
    width: 90%;
    font-size: 1rem;
    @include tablet {
      width: 55ch;
      margin-top: 0rem;
      margin-left: 2rem;
      font-size: 1.5rem;
      top: 10rem;
    }
  }

  &__button-container {
    margin-top: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      position: absolute;
      margin-top: 4rem;
      justify-content: center;
      right: 5rem;
      bottom: 2rem;
    }
  }

  &__cancel-button {
    width: 15rem;
    height: 2.75rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    @include tablet {
      width: 6rem;
    }
  }

  &__delete-button {
    width: 15rem;
    height: 2.75rem;
    border-radius: 20px;
    background-color: $accent-negative-color;
    border: none;
    color: white;
    cursor: pointer;

    @include tablet {
      width: 6rem;
    }
  }
}
