@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
$searchIcon: url("../../assets/icons/search-24px.svg");

.searchbar {
  background-color: $primary-light-color;
  padding: 2rem 1.5rem 1.5rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1.5rem;
  }

  &__page-header {
    @include m-page-header($primary-dark-color);
    margin: 0 0 1.5rem 0;
    word-break: break-word;

    @include tablet {
      @include t-page-header($primary-dark-color);
      margin: 0;
    }
  }

  &__input-button-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 1.25rem;
    height: 2.5rem;
    font-size: 0.75rem;
    padding-left: 1rem;
    background-image: $searchIcon;
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 0.063rem solid $secondary-light-color;

    @include tablet {
      width: 11.563rem;
    }
  }
}
