@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_mixins.scss" as *;

.header {
  @include m-link($primary-light-color);
  box-sizing: border-box;
  width: 100%;
  background-color: #232940;
  padding: 1.6rem 1.6rem 0.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  height: 11.625rem;
  z-index: -1;
  @include tablet {
    display: flex;
    align-items: start;
    justify-content: flex-end;
  }
}
.navigation {
  &__logo {
    height: auto;
    width: auto;
    object-fit: fill;

    @include tablet {
      margin-right: 15rem;
      @include desktop {
        margin-right: 45rem;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  &__item-wrapper {
    width: 100%;
    margin: 0 2.5rem 0 2.5rem;
  }

  &__item {
    @include m-link($primary-light-color);
  }
  &__item--active {
    background-color: #13182c;
    border: solid 1px;
    border-radius: 20px;
    width: 140%;

    border-color: transparent;
  }
  &__item:hover {
    text-decoration: underline;
  }
}
