@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-list {
  &__table-row {
    display: none;
    background-color: $background-light-color;

    @include tablet {
      &--t-show {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 2rem;
      }
    }
  }

  &__header-box {
    display: flex;
    align-items: center;
    flex: 6;
  }

  &__table-header {
    @include m-table-header($primary-dark-color);
    flex: 1;
    display: flex;

    @include tablet {
      @include t-table-header($secondary-dark-color);
      margin: 0;
    }

    &--last {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 1rem;
      width: 2rem;
    }
  }

  &__icon {
    width: 1rem;
  }
}
