@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.footer{

&__main-container{
  width: 100%;
  position: absolute;
  bottom: 2rem;
  text-align: center;

}

&____container{
  width: 100%;
  background-color: #D1D1D1;


}

&__copyright-text {
  color: #5C667E;
  font-size: .75rem;
}

}
