@use "./styles/partials/variables.scss" as *;
@use "./styles/partials/mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: $background-light-color;
}

a {
  text-decoration: none;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
